@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

.hideInitial {display:none;}
.outercontainer {max-width: 950px;margin:auto;}
.container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}
.bucket {  
  width: 100%;
}
#offerSection, .bucketz div, #submit {
  margin:0;
}
#offerSection {
  width: 17em;
  background-color: rgb(221, 221, 247);
  padding: 1em;
}
#monthSelectSection {
  width: 100%;
}
.answer {
  display: inline-block;
}
.monthtitle {
  font-family: 'Source Serif Pro', serif;
  /* padding:4px 0 0 0; */
  /* height:100%; */
  /* margin: 40px 0 0 0; */
  /* margin: 0 0 0 20px; */
  background-color:rgb(255, 255, 122);
  border-bottom: 0px solid rgb(151, 167, 173);
  color: #333940;
  display: inline-block;
}
.titleContainer {
  flex: 100%;
}
.bucketz {
  padding:20px;
  flex-grow:1;
}
.removeBucket, #addBucket{
  background-color:white;
}
.answer {
  float: right;
  font-size: 30px;
}
.under {
  color: green;
}
.over {
  color: brown;
}
#addBucket:hover {
  background-color:gray;
}












body {
  background-color: rgb(241, 248, 255);
}
::selection {
  background-color: yellow;
}
.addBucketName {}
input,button,select,optgroup,textarea {margin: 0;font-family: inherit;font-size: inherit;line-height: inherit;}
.btn, .input-group-text, .form-control {border-radius:0;}
.colorZero {background-color: white;}
.colorZero:focus { border: 1px solid rgb(197, 178, 197); box-shadow: none; background-color: white;}
.colorOne, .colorOne:hover {background-color: rgb(255, 255, 235);}
.colorOne:focus { border: 1px solid rgb(167, 167, 111); box-shadow: none; }
.colorTwo, .colorTwo:hover, .colorTwo:focus {background-color: #ffebeb;}
.colorTwo:focus { border: 1px solid rgb(238, 164, 238); box-shadow: none; }
.colorThree, .colorThree:hover, .colorThree:focus {background-color: #f7ffeb;}
.colorThree:focus { border: 1px solid rgb(173, 172, 97); box-shadow: none; }
.colorFour, .colorFour:hover, .colorFour:focus {background-color: #ebfff7;}
.colorFour:focus { border: 1px solid rgb(100, 135, 138); box-shadow: none; }
.colorFive, .colorFive:hover, .colorFive:focus {background-color: #ebf7ff;}
.colorFive:focus { border: 1px solid rgb(94, 177, 180); box-shadow: none; }
.colorSix, .colorSix:hover, .colorSix:focus {background-color: #f2ebff;}
.colorSix:focus { border: 1px solid rgb(182, 100, 182); box-shadow: none; }